<!--按行按列显示传入的posts的所有内容-->
<div id="bottompart2">
<% friendsPosts.forEach(function(post, index){%>
<div class="row">
   <article class="am-comment " style="margin-bottom: 10px;width: 800px;">
  <a href="/u/<%= post.name %>">
    <img src="<%=post.userLogo%>" alt="" class="am-comment-avatar" width="48" height="48"/>
  </a>

  <div class="am-comment-main">
    <header class="am-comment-hd">
      <h3 style="padding: 7px; margin-left: 10px;" class="am-comment-title">
          <a href="/u/<%= post.name %>" class="am-comment-author"><%=post.name%>:</a>
          <a  style="text-decoration: none;color:#333333;" href="/u/<%= post.name %>/<%= post.postHead_MD5%>/<%= post.time.day %>/<%= post.title %>"><%=post.title%></a>
      </h3>
      <div class="am-comment-meta">
        <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800"><%=post.time.minute%></time>
      </div>
      <div style="float: right;">
      <% if (user && (user.name == post.name)) { %>
         <a  href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" style="font-size: 12px;padding:2px 15px 2px 0px;" >编辑</a>
      <%}%>
      </div>
    </header>

    <div class="am-comment-bd">
       <p> <% post.tags.forEach(function (tag, index) { %>
          <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
          <% } %>
        <% }) %></p>
     <a  style="text-decoration: none;color:#333333;" href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%=post.post%></a>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-gallery-imgbordered" data-am-gallery="{pureview:{target: 'a'}}">
          <li>
              <div class="postIndexImg">
                <% post.postImg.forEach(function (postImg, index) { %>
                  <p class="">
                    <% if (postImg) { %>
                         <a class="show" href="<%=postImg%>" title="<%=post.title%>" data-rel="<%=postImg%>">  
                          <img class="showImg" src="<%=postImg%>" />
                          </a>
                    <%}%>
                  </p>
                 <%})%>
            </div>
            </li>
      </ul>
    <div class="am-comment-bd" style="font-size: 14px; clear: both;">
     <span>阅读 <i><%=post.pv %> |</i></span>
     <span><a href="/u/<%= post.name %>/<%= post.postHead_MD5%>/<%= post.time.day %>/<%= post.title %>">评论 <i><%= post.comments.length %> |</i></a></span>
     <span><a  href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.postHead_MD5 %>/<%= post.title %>" style="text-decoration: none; color: #383535;"> 转载 <i>  <% if (post.reprint_info.reprint_to) { %>
                            <%= post.reprint_info.reprint_to.length %>
                          <% } else { %>
                            <%= 0 %>
                          <% } %>
            </i></a></span>
    </div>
  </div>
</article>

</div>
<% }); %>

</div>