<!DOCTYPE html>
<html manifest="/manifest.appcache">
<head>
    <title><%= title %></title>  
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/user.css'/>
    <link rel='stylesheet' href='/stylesheets/amazeui.min.css'/>
    <link rel="icon" href="favicon.icon" type="image/icon" />
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validator.js"></script>
    <script type="text/javascript" src="/js/amazeui.min.js"></script>
    <script type="text/javascript" src="/js/tpl.js"></script>
    <meta charset="utf-8">
</head>
<body style="background-image: url(/images/beijing1.jpg);background-repeat: no-repeat;background-color: #F4F7FC;">
<div id="header">
    <ul id="menus">
        <li>
            <a href="/" class="menu introduce">  
             <!---start-logo---->
            <div class="logo">
              <a href="/"><img src="/images/logo.png" title="logo" /></a>
            </div>
            <!---End-logo---->
            </a>
        </li>
        <li><a href="/" class="menu">首页</a></li>
        <% if(!user) { %>
        <li><a href="/login" class="menu">登录</a></li>
        <li><a href="/reg" class="menu">注册</a></li>
        <% }else{ %>
        <li><a href="/" class="menu"> 欢迎您</a></li>
        <li><a href="/logout" class="menu">退出</a></li>
        <% } %>
    </ul>
</div>
<div id="content">