<%- include header.html %>
<!-- 轮播图 -->
<div class="slider" > 
     <div data-am-widget="slider" class="am-slider am-slider-a5" data-am-slider='{&quot;directionNav&quot;:false}' >
      <ul class="am-slides" >
<% hotPost.forEach(function(post, index){%>
           <li>
            	<img src="<%= post.postImg[0]%>">
              <div class="am-slider-desc"><div class="am-slider-content"><h2 class="am-slider-title">某天 也许会相遇 相遇在这个好地方</h2><p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div><a class="am-slider-more">了解更多</a></div>
             
          </li>
<%})%>
      </ul>
    </div>
</div>
<!-- end轮播图 -->
<div class="centerList"style="background-color: #fff; ">
  <div data-am-widget="tabs"
       class="am-tabs am-tabs-d2"
        >
      <ul class="am-tabs-nav am-cf">
          <li class="tabNav am-active"><a href="[data-tab-panel-0]">热门日记</a></li>
          <li class="tabNav"><a href="[data-tab-panel-1]">口袋旅游</a></li>
      </ul>
      <div class="am-tabs-bd">
          <div data-tab-panel-0 class="am-tab-panel am-active">
            <div class="hotlist">
          <% posts.forEach(function(post, index){%>
                <div class="postListPart">
                <a href="/u/<%= post.name %>">
                <%if(!post.postImg[0]){%>
                 <img class="firstImg" src="/images/slider1.jpg">
                <%}else{%>
                 <img class="firstImg" src="<%= post.postImg[0]%>">
                <%}%>
                  <div class="ulogo">
                    <a href="/u/<%= post.name %>">
                      <img src="<%=post.userLogo%>"class="am-circle" width="80" height="80"/>
                    </a>
                    <div class="postsInfo">
                        <h4><%=post.title%></h4>
                        <div class="postdetail">
                           <span>阅读 <i><%=post.pv %> |</i></span>
                               <span><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">评论 <i><%= post.comments.length %> |</i></a></span>
                               <span><a href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" style="text-decoration: none; color: #383535;"> 转载 <i>  <% if (post.reprint_info.reprint_to) { %>
                                     <%= post.reprint_info.reprint_to.length %>
                                         <% } else { %>
                                                      <%= 0 %>
                                                    <% } %>
                                      </i></a></span>
                        </div>
                    </div>
                  </div>
                  </a>
                </div>
          <%})%>
              </div>
            </div>
          <div data-tab-panel-1 class="am-tab-panel ">
              <div class="koudai-travel">
                  <div class="search-part">
                      <form id="searchForm">
                       <div class="am-input-group">
                          <input type="text" name="searchValue" class="am-form-field">
                          <span id="searchbtn" style="background-color:#30C0FF;color: #fff; " class="am-btn-primary am-input-group-label"><i class="am-icon-search"></i>搜索</span>
                        </div>
                      </form>
                        <div class="hotlist" id="searchList">
                        </div>
                        <script type="text/template" id="searchTemp">
                          <div class="postListPart">
                            <a href="/u/<#= post.name #>">
                            <#if(!post.postImg[0]){#>
                             <img class="firstImg" src="/images/slider1.jpg">
                            <#}else{#>
                             <img class="firstImg" src="<#= post.postImg[0]#>">
                            <#}#>
                              <div class="ulogo">
                                <a href="/u/<#= post.name #>">
                                  <img src="<#=post.userLogo#>"class="am-circle" width="80" height="80"/>
                                </a>
                             <!--    <img class="am-circle" src="images/ulogo.png" width="80" height="80"/> -->
                                <div class="postsInfo">
                                    <h4><#=post.title#></h4>
                                    <div class="postdetail">
                                       <span>阅读 <i><#=post.pv #> |</i></span>
                                           <span><a href="/u/<#= post.name #>/<#= post.time.day #>/<#= post.title #>">评论 <i><#= post.comments.length #> |</i></a></span>
                                           <span><a href="/reprint/<#= post.name #>/<#= post.time.day #>/<#= post.title #>" style="text-decoration: none; color: #383535;"> 转载 <i>  <# if (post.reprint_info.reprint_to) { #>
                                                 <#= post.reprint_info.reprint_to.length #>
                                                     <# } else { #>
                                                                  <#= 0 #>
                                                                <# } #>
                                                  </i></a></span>
                                    </div>
                                </div>
                              </div>
                              </a>
                            </div>
                        </script>
                      </form>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>
<script type="text/javascript">
   $(document).ready(function(){
      $("#searchbtn").on('click',function(){
         $("#searchList").html('');
       var searchForm = $('#searchForm').serialize();
        $.ajax({
            url:"/m/search",
            type:"post",
            data:searchForm,
            success:function(d){
               if(d.code == 0&&d.post.length!=0){
                  for(var i= 0; i<d.post.length;i++){
                      var temp =  tpl('#searchTemp',{post:d.post[i]});
                      $("#searchList").append(temp);
                      var load = 0;
                  } 
                }else{  
                        alert('没有搜索的内容');
                }
            }
        })
       })
  })
</script>
<!-- end center-container -->
<%- include footer.html %>