<%- include header.html%>
<div class="center-<%-user.name%>container">
	<div class="left-container">
       <div class="user">
          <img src="/images/ulogo.png">
          <span><%-user.name%></span>
       </div>
       <div class="uabout">
            <div class="aul">
               <li><a href="/attention"><p class="white">1</p><p class="low">关注</p></a> </li>
               <li><a href="fans"><p class="white">2</p><p class="low">粉丝</p></a></li>
               <li><a href="/postlist"><p class="white">4</p><p class="low">游记</p></a></li>
            </div>
       </div>
       <div class="ulist">
          <ul>
                <li><a href="/"><i class="icon-15-3-1"></i> 我的首页</a></li>
                <li><a href="/attention"><i class="icon-15-3-2"></i> 我的关注</a></li>
                <li><a href="/fans"><i class="icon-15-3-3"></i> 我的粉丝</a></li>
                <li class="active"><a class="active" href="/postlist"><i class="icon-15-1-4"></i> 我的游记</a></li>
                <li><a href="/set"> <i class="icon-15-4-1"></i> 设置</a></li>
            </ul>
       </div>
    </div>
    <div class="right-container">
          <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
              <h2 class="am-titlebar-title ">
                编写游记
              </h2>
          </div>
         <%- include say.html %>
         </div>
    </div> 
</div>
<%- include footer.html %>