<div style="background-color: #fff;position:relative;>
	<form method="post" name="picForm" action="/post" id="public" ">
	用户：<%-user.user%><br/>
	标题：<br />
	  <input type="text" name="title" /><br />
	  标签：<br />
	  <input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />
	  正文：<br />
	  <textarea name="post" rows="10" cols="100"></textarea><br />
	  <!-- <input type="file" id="imgfile" accept="image/png,image/gif" />
	  <div class="sayImg">
	   
	</div> -->
	<div class="upload_item" index="0" style="display:none;">
		<span class="upload_item_add" onclick="ADD.upload_click(this)">+</span><input type="file" name="pics" id="pics" class="upload_input" onchange="ADD.upload_change(this)" />
    </div>
    <div class="upload_item" index="1">
    	<span class="upload_item_add" onclick="ADD.upload_click(this)">+</span><input type="file" name="pics" id="pics" class="upload_input" onchange="ADD.upload_change(this)" />
    </div>
	  <input type="submit" value="发表" />
	</form>

</div>
<script type="text/javascript" src="/js/p/say.js"></script>