<form method="post" name="picForm" action="/post" id="public" style="margin-bottom: 200px;position: relative;">
	<!-- <label>标题：</label><input name="potitle" style="width: 400px;height: 20px;"></input><br/> -->
    <textarea rows="4" cols="70" name="post"  placeholder="说点什么吧" style="padding: 10px;"></textarea>
    <button type="submit" id="pbtn">发布</button>
     <input type="file" id="imgfile" accept="image/png,image/gif" />
</form>
<div>
    <img src="" id="imgPic">
</div>
<script type="text/javascript" src="/js/p/say.js"></script>