<%- include header.html %>
<div class="center-container">
<div class=" userPart">
 <div class="user-left">
<% posts.forEach(function (post, index) { %>
<!--   <div class="p-top-nav"></div> -->
      <p>
        <h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
        <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
      </p>
      <p class="info">
        作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
        日期：<%= post.time.minute %> | 
        标签：
        <% post.tags.forEach(function (tag, index) { %>
          <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
          <% } %>
        <% }) %>
        <% if (post.reprint_info.reprint_from) { %>
          <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
        <% } %>
      </p>
      <p><%- post.post %></p>
      <p class="info">
        阅读：<%= post.pv %> | 
        评论：<%= post.comments.length %> | 
        转载：
        <% if (post.reprint_info.reprint_to) { %>
          <%= post.reprint_info.reprint_to.length %>
        <% } else { %>
          <%= 0 %>
        <% } %>
      </p>

    <% }) %>  
  </div> 
  <div class="user-right">
     <p name = "name">用户名:<%= posts[0].name%></p>
     <p>关注:</p>
     <p>粉丝:</p>
     <p><a data-name="<%= posts[0].name%>" id="makeFriends" href="javascript:">加关注+</a> </p>
  </div>
</div>
</div>
<%- include footer.html %>
<script type="text/javascript">
    $("#makeFriends").click(function(e){
        name= e.target.getAttribute('data-name');
         $.get("/friends",{name:name},function(d){
            if(d.code==0){
              $("#makeFriends").html("已关注");
             alert("关注成功");
            }
          });
     });
</script>>