/*! reset */

html {font-size: 14px; line-height: 1.5;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0; padding:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
audio,canvas,video {display: inline-block; *display: inline; *zoom: 1;}
table {border-collapse:collapse; border-spacing:0;}
caption,th {text-align:left;}
fieldset,img,iframe {border:0;}
img {-ms-interpolation-mode: bicubic; max-width:100%; vertical-align: middle;}
a {background: transparent; text-decoration:none;}
small {font-size: 85%;}
strong {font-weight: bold;}
i,cite {font-style: normal;}
ol,ul {list-style:none;}

// 雪碧图处理

// 透明度
opacity($v= 0.5) {
    filter: s("alpha(opacity=%s)", round($v*100))
    opacity: $v
}

min-width($n) {
    min-width: $n
    _width: $n
}

min-height($n) {
    min-height: $n
    _height: $n
}


// 半透明背景
bg-rgba(args...) {
    special = length(args) == 1 
    r = special ? 0 : args[0]
    g = special ? 0 : args[1]
    b = special ? 0 : args[2]
    
    if (args[0]!='') {
        a = special ? args[0] : args[3]
    } else {
        a = 0.3
    } 

    // Math.floor(opacity * 255).toString(16);
    colorStr = unquote( '#' + base-convert( floor( a * 255 ), 16 ) + base-convert(r,16) + base-convert(g,16) + base-convert(b,16) )
    
    filter: s("progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=%s,EndColorStr=%s)", colorStr, colorStr); // IE5-8
    background: rgba(0, 0, 0, a);

    /:root & {filter:0;} // IE9+
}

//内联
inline-block() {
    display:inline-block; *display:inline; *zoom:1;
}

//背景图
bg-image($image) {
    background-image: image-url($image);
}

//背景图
bg($image) {
    if !!$image {
        $str= image-url($image);
        if !!arguments[1] {
            $str= $str arguments[1];
        }
        background: $str;
    }
}

// bg-imgage
$img-base= "../images/";
$timestamp= "";
//$timestamp= "max_age=19830211&d=20130227135216";

image-url($image){
    return unquote("url(" + $img-base + $image + ($timestamp!="" ? "?"+$timestamp : "") + ")");
}

// 雪碧图函数
// sprite('img/sprite-50.png', 50, 10, 3)
sprite($img, $grid, $x, $y) {
    .icon{$grid}{$x}{$y} {
        inline-block()
        bg( $img, no-repeat )
        width: ($grid)px
        height: ($grid)px
        vertical-align: middle
    }
    for $i in 1..$x {
        for $j in 1..$y {
            .icon-{$grid}-{$j}-{$i} {
                @extend .icon{$grid}{$x}{$y}
                background-position: (-($i - 1) * $grid)px (-($j - 1) * $grid)px
            }
        }
    }
}

// 用户登录后页面
.center-container{
	width:1200px;
	height:1200px;
	padding:40px ;
	margin-left:30px;
	border:1px solide #ccc;
	.left-container{
		width:200px;
		float:left;
		height:100%;
		color:#fff;
		border:1px solid #193E5C;
		border-radius:2px;
		background-color:#193E5C;
		.user{
			height:100px;
			// border:1px solid #0D202E;
			img{
				width:100px;
				height:100px;
				padding:10px;
				margin:0 auto;
			}
			span{
				color:#fff;
				font-size:24px;
			}
		}
		.aul{
			border:1px solid #2E5A7B;
			height:70px;
			.white{
				color:#fff;
			}
			li{
				float:left;
				list-style:none;
				width:65px;
				height:70px;
				border:1px solid #2E5A7B;
				text-align:center;
				font-size:18px;
				.low{
					margin-top:-15px;
					color:#7895D2;
				}
			}
		}
		.ulist{
			margin-left:-8px;
			.active{
					background-color:#F4F7FC;
					color:#193E5C !important;
					border-radius:4px;
				}
			li{
				display:block;
				height:35px;
				font-size:20px;
				padding:2px 10px 2px 10px;
				margin-top:10px;
				margin-right:-2px;
				a{
					text-decoration:none;
					color:#fff;
				}
				i{
					margin-top:-2px;
				}
			}
			
		}
	}
	.right-container{
		float:left;
		width:900px;
		padding:10px;
		margin-left:20px;
		border:1px solid #ccc;
		border-radius:20px;
	}
}
sprite('minicon.png', 15, 4,4 )

// 用户设置页
.setForm{
	width:600px;
	margin:30 auto;
	font-size:20px;
	font-family:"微软雅黑";
	.gr{
		margin:5px 1px 10px 1px;
		height:40px;
	}
}


