.app-page {
  max-width: 640px;
  margin: 0 auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: center;
  -webkit-box-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  backfece-visibility: hidden;
  -webkit-box-orient: vertical;
}
.m-nav {
  height: 3em;
  width: 100%;
  max-width: 640px;
  background-color: #4fa7f5;
  border: 1px solid #fff;
}
.m-nav h3 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: 200;
  padding-top: 0.2em;
  font-size: 2.2rem;
}
.app-footer {
  border-top: 1px solid #e0e0e0;
  -webkit-box-flex: 0 !important;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-align: center;
  -webkit-box-align: center;
  width: 100%;
  position: relative;
}
