<div class="app-footer">
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
      id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li>
            <a href="###" class="active" style="display: inline-block; color: #333;">
                  <span class="am-icon-home"></span>
                <span class="am-navbar-label">主页</span>
            </a>
          </li>
          <li >
            <a href="user.html" class="">
                  <span class="am-icon-user"></span>
                <span class="am-navbar-label">我</span>
            </a>
          </li>
      </ul>
  </div>
  </div>
</body>
</html>