<%- include header.html %>
<body style="background-color: #e7eaf2;">
<div class="am-topbar">
    <div class="mNav">

      <a href="/m" style="color:#5eae79; ">
      <h1>
      <img src="/images/m/mlogo.png">
      旅途IN记
      </h1>
      </a>
    </div>
    <div class="am-topbar-right" >
        <a href="/m/search"><i  class="am-icon-search"></i></a>
    </div>
 </div> 	
 	<div class="am-tabs-bd">
 		<%if(mfans.friends.length){%>
        <div class="am-tab-panel am-active" >
  			    <ul class="am-list am-list-static am-list-border">
               <%mfans.friends.forEach(function(friends,index){%>
                <li>
                  <img src="images/ulogo.png" style="float: left;width: 60px;height: 60px;margin-right: 20px;margin-top:-6px;border-radius: 60px;">
                  <span style="margin-top:15px;" class="am-badge am-badge-success">
                    <a href="/friends/<%=currentUser.name%>/<%=friends%>" style="color: #fff;"> 取消关注</a></span> 
                   <a href="/m/userDetail/<%=friends%>">  <%= friends%></a>
                </li>
                <%})%>
          </ul>
        </div>
        <%}else{%>
        	<div style="width: 100%;background-color: #fff;height: 4em;text-align: center;">
        		<p style="padding-top: 1em;">您还没关注任何人哟</p>
        	</div>
        <%}%>
    </div>
</body>

<%- include foot.html %>