<%- include header.html %>
<body style="background-color: #e7eaf2;">
	<div class="am-topbar">
	    <div class="mNav">
	  	  <h1>
	  	  <img src="/images/m/mlogo.png">
	  	  旅途IN记</h1>
	  	</div>
 	</div>
 	<div class="mpost">
 		<button class="am-btn am-btn-success ">
 			<a href="/m/createNote">创建新游记</a>
 		</button>
 	</div>
 		    <div class="am-list-news-hd am-cf">
			          <h2 style="margin-left: 1 em;">待同步游记</h2>
			 </div>
 	<div class="mPostnote" id="mNoteList">
	<script type="text/template" id="mpostNote">
		 <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
			  <!--列表标题-->
		

			  <div class="am-list-news-bd">
			  <ul class="am-list">
			     <!--缩略图在标题左边-->
			      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
			        <div class="am-u-sm-4 am-list-thumb">
			        <#if(post.postImg1){#>
			            <img src="<#=post.postImg1[0]#>"/>
			          </a>
			        </div>
			        <#}else{#>
			        	 <img src="/images/grids-img2.jpg"/>
			        <#}#>
			        <div class=" am-u-sm-8 am-list-main">
			            <h3 class="am-list-item-hd">标题：<#=post.title#></h3>

			            <div class="am-list-item-text" ><#=post.post#></div>
			            <div>
			            	<a href="javascript:0;" style="color: #fff;"><button class="am-btn am-btn-primary">编辑</button></a>
			            	<a href="javascript:0" data-value="<#=postId#>" class="b" style="color: #fff;"><button class="am-btn am-btn-success">同步</button></a>
			            </div>
			        </div>
			      </li>			    
			    </ul>
			  </div>

			    </div>
	</script>
	
</div>
</body>
<%- include foot.html %>
 <script type="text/javascript">
 	$(document).ready(function(){
 		var allLocalstorageKey = localStorage.key("Post");
 		// 获取所有key
	     var keyArray = Object.keys(localStorage);
	     console.log(keyArray);
	     // 通过key去循环获取存储的游记
 		for(var j = 0;j<keyArray.length;j++){
 			if(keyArray[j] != "posts"){
		 		var post=JSON.parse( localStorage.getItem(keyArray[j]));
		 		 if(!post){
		 		 	continue;
		 		 }
		 		   if(!Array.isArray(post.postImg)){
			          post.postImg1 = [];
			            post.postImg1.push(post.postImg);
			        }else{
			           post.postImg1 = post.postImg;
			        }
		 		 if(post){
		 		 var temp =  tpl('#mpostNote',{post:post,postId:keyArray[j]});
		                      $("#mNoteList").append(temp);
		          }
		    }
        }
 	})
 	$(document).on('click','.b',function(){
 		var me= this;
 		var postId= this.getAttribute('data-value');
 		var localNote= JSON.parse( localStorage.getItem(postId));
 		// mpostData用来发布游记的对象，将整个对象传给后台
 		var mpostData = {};
 		// fd用来上传图片的表单
		var fd = new FormData(document.forms[0]);
		if(localNote.postImg){
			   if(!Array.isArray(localNote.postImg)){
	          localNote.postImg1 = [];
	            localNote.postImg1.push(localNote.postImg);
	        }else{
	           localNote.postImg1 = localNote.postImg;
	        }
	 		for(var i=0;i<localNote.postImg1.length;i++){
	 			var blob = dataURItoBlob(localNote.postImg1[i]);
				fd.append("canvasImage", blob);
			};
		}
		mpostData.title = localNote.title,
		mpostData.tag1 = localNote.tag1,
		mpostData.tag2 = localNote.tag2,
		mpostData.tag3 = localNote.tag3,
		mpostData.post = localNote.post,
		mpostData.postImg =  [];
 			  $.ajax({
                    type : 'post',
                    url : '/uploadUserImgPre',
                    data: fd , 
                    processData:false,
                    cache: false,  
                    contentType: false, 
                    success:function(re){
                    if(re.imgSrc.canvasImage){
                      for (var i = re.imgSrc.canvasImage.length - 1; i >= 0; i--) {
                    	var imgSrc = re.imgSrc.canvasImage[i].path.replace('public','');
                        imgSrc =imgSrc.replace(/\\/g,'\/');
                        	// mpostData.append('postImg',imgSrc);
                        	
                        	mpostData.postImg.push(imgSrc);
                      }
                     }
			        	$.ajax({
			                    url : '/mpost',
			                    type : 'post',
			                    data: mpostData,   
			                    success:function(f){
			                    	console.log(f);
			                    	if(f.code == 0){
			                    	alert("发布成功");
			                    	localStorage.removeItem(postId);
			                    	window.location.reload();
			                    	};
			                    }
			         	});              
                    },
                    error:function(){
                    	$.ajax({
			                    url : '/mpost',
			                    type : 'post',
			                    data: mpostData,   
			                    success:function(d){
			                    	if(d.code == 0){
			                    	alert("发布成功");
			                    	}
			                    }
			         	});
                    }
           });

 		 console.log(mpostData);
 		 
 	});
 	// 将图片由base64转化为图片
 	function dataURItoBlob(dataURI) {
	    var byteString;
	    if (dataURI.split(',')[0].indexOf('base64') >= 0)
	        byteString = atob(dataURI.split(',')[1]);
	    else
	        byteString = unescape(dataURI.split(',')[1]);

	    // separate out the mime component
	    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

	    // write the bytes of the string to a typed array
	    var ia = new Uint8Array(byteString.length);
	    for (var i = 0; i < byteString.length; i++) {
	        ia[i] = byteString.charCodeAt(i);
	    }

	    return new Blob([ia], {type: 'image/jpeg'});
	}
 </script>