// 用户页user.html
.p-top{
	width:400px;
	heigth:100px;
	// border:1px solid #ccc;
	margin-left:50px;	
	h3{
		padding-left:20px;
		font-weight:bold;
	}
	p{
		margin-left:50px;
	}
}
.userPart{
	background-color:#fff;
	margin-top:20px;
	.user-left{
		float:left;
		width:850px;
	}
	.user-right{
		float:left;
		width:200px;
		heigth:30px;
		margin-top:50px;
		border:1px solid #333;
	}
}
.p-top-nav{
	width:900px;
	padding:20px;
	heigth:200px;
	border:1px solid #333;
	background-color:#333;
}
