// 用户页user.html
.p-top{
	width:400px;
	heigth:100px;
	// border:1px solid #ccc;
	margin-left:50px;	
	h3{
		padding-left:20px;
		font-weight:bold;
	}
	p{
		margin-left:50px;
	}
}
.userPart{
	background-color:#fff;
	margin-top:20px;
    height: 100%;
    border:1px solid #ccc;
    border-radius:5px;
    .userNav{
    	width:100%;
    	padding:30px;
    	border-radius:5px;
    	background-color:#333;
    }
	.user-left{
		padding-left:30px;
		float:left;
		width:850px;
		.info{
			padding-left:20px;
		}
	}
	.user-right{
		float:left;
		width:268px;
		heigth:200px;
		padding-left:10px;
		margin-top:40px;
	    .makeFriends{
	    	width:80px;
	    	heigth:10px;
	    	padding:5px;
	    	border:1px solid #ccc;
		    border-radius:5px;
		    
	    }
		p{
			font-size:18px;
		}
	}
}
.p-top-nav{
	width:900px;
	padding:20px;
	heigth:200px;
	border:1px solid #333;
	background-color:#333;
}

// 评论页
.commentForm{
	width:800px;
	// border:1px solid #ccc;
	border-radius:10px;
	.commetTextarea{
		margin-top:20px;
	}
}